.card{
	//border: 2px solid red;
    margin: 0 auto;
}

#a{
	padding-bottom: 10px;
	//border: 2px solid red;
}
.navbar{
	//border: 2px solid red;
	width: 90%;
	background-color: #C1CEB2;
	margin-left: 5%;
	border-radius: 50px;

}
.nav-link{
	font-size: 15px;
}
ul.nav a:hover { 
	color: #7373E1;
	 }
.nav-item:hover{
    background-color: #6EA00C;
    border-radius: 50px;
}