<<<<<<< HEAD
.card{
	//border: 2px solid red;
    margin: 0 auto;
}

#a{
	padding-bottom: 10px;
	//border: 2px solid red;
=======
#top{
	height: 15%;
	margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    background-attachment: fixed;
>>>>>>> f632aaf5c016ec1be5b43534029bd9867e435447
}
.navbar{
	//border: 2px solid red;
	width: 90%;
<<<<<<< HEAD
	background-color: #C1CEB2;
=======
	//background-color: #C1CEB2;
	background-color: #66717E;
>>>>>>> f632aaf5c016ec1be5b43534029bd9867e435447
	margin-left: 5%;
	border-radius: 50px;

}
.nav-link{
	font-size: 15px;
}
ul.nav a:hover { 
	color: #7373E1;
<<<<<<< HEAD
	 }
.nav-item:hover{
    background-color: #6EA00C;
    border-radius: 50px;
}
.hexagon{
	width: 30%;
	height: 30%;
	background: red;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 100px auto;
	visibility: hidden;
	overflow: hidden;
	border: 2px solid red;

}
.hexagon-inside{
	width: 100%;
	height: 100%;
	background: green;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	border: 2px solid red;
}
.hexagon-img{
	width: 100%;
	height: 100%;
	background-image: url(../IMG/s.jpeg);
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
	//border: 5px solid green;
}
.our_team{
	//border: 5px solid green;
	 text-align: center;
	 font-family: Impact;
	 font-weight: bold;
}
.col-xl{
	margin: 2% 2% 2% 2%; 
    border: 2px solid green;	
=======
	//color: #7373E1;
	 }
.nav-item:hover{
    background-color: #104547;
    //background-color: #6EA00C;
    border-radius: 50px;
}

.HeaderImage{
	margin-top: -2%;
}
//test
#imga{
	height: 50%;
	width: 10%
}
.footer{
	background-color: black;
	height: 40%;
	margin-top: 40px;
>>>>>>> f632aaf5c016ec1be5b43534029bd9867e435447
}